.card{
  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 350px;
    min-width: 40vh;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
}
.AddBooks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.details{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color:rgb(41, 119, 187);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
.btn{
    margin: 2px;
}
